.MeetingsList > select {
  font-size: x-large;
  margin-bottom: 20px;
}

.MeetingsList table {
  margin: auto;
  border-collapse: collapse;
}

.MeetingsList table,
.MeetingsList th,
.MeetingsList td {
  border: 5px solid black;
  padding: 15px;
}
